<form action="/hospitals/uploadCases" method="POST">
    <%-include('msg');%>
    <div class="form-group">
        <label for="mildCases">mild-cases:</label>
        <input type="mildCases" class="form-control" id="mildCases" name="mildCases"  value="<%=typeof info!='undefined' ? info.mildCases:''%>" required>
    </div>
    <div class="form-group">
        <label for="seriouscases">serious-cases:</label>
        <input type="seriousCases" class="form-control" id="seriousCases" name="seriousCases"  value="<%=typeof info!='undefined' ? info.seriousCases:''%>" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>